html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	vertical-align: baseline;
}

body
{
	font-size: 62.5%;
	font-family: arial, sans-serif;
}

:focus 
{
	outline: 0;
}

body 
{
	line-height: 1;
	color: black;
	background: white;
	font-weight: normal;
}

table 
{
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td 
{
	text-align: left;
	font-weight: normal;
	padding:5px 0 5px 0;
}
	
blockquote:before, blockquote:after,
q:before, q:after 
{
	content: "";
}

blockquote, q 
{
	quotes: "" "";
}

ol, ul 
{
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}